[core]
  excludesfile = /Users/idan/.gitignore_global

[user]
  email = idan@goldman.work
  name = Idan Goldman

[alias]
  br   = branch
  ci   = commit
  co   = checkout
  df   = diff --color
  lg   = log -p --color
  logg = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
  lp   = log --graph --pretty=format:'%Cred%h%Creset — %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --color
  ls   = ls-files
  pl   = pull
  ps   = push
  st   = status
  # add cleaning un tracked files and directories
  # git clean -fd
  undo = reset --hard
  who  = shortlog -s --

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan




[diff]
  algorithm = patience

[core]
  editor = vim

[url "ssh://git@github.com/"]
  insteadOf = "gh:"

[push]
  default = simple
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
